<%- contentFor('content') %>
<!-- 401 status code -->
<main class="d-flex justify-content-center vh-100">
    <div class="m-auto text-center">
        <div class="row justify-content-center">
            <div class="text-center">
                <h1 class="display-1">401</h1>
                <p class="lead">Unauthorized</p>
                <p>Access to this resource is denied.</p>
                <a href="/">
                    <i class="fas fa-arrow-left me-1"></i>
                    Return to Home
                </a>
            </div>
        </div>
    </div>
</main>